*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}

/* Navbar */
nav {
    background-color: #abe;
    
    a:hover {
        background-color: #68a;
        color: #fff;
    }
}
nav a {
    display: inline-block;
    background-color: #abe;
    color: #000;
    text-decoration: none;
    padding: 10px 15px;
    
    
}